* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Aleo', serif;
    background-color: #ecececff;
}

.form-container {
    background-color: white;
}

.bg-header {
    background-color: lightcoral;
}
.menu-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 960px;
    padding: 30px 30px;
}
.title {
    color: white;
    font-weight: bold;
    font-size: 2.25em;
}

.btn-add {
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.25em;
    cursor: pointer;
    color: white;
    border: 3px solid white;
    padding: 10px;
    font-weight: bold;    
}

.btn-add:hover {
    background: #f26868ff;
}


/* Form */

.formWrapper {
    display: none;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    max-width: 300px;
    
}
.close {
  color: #aaaaaa;
  float: left;
  margin-right: 40px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.formWrapper div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.formWrapper span {
    text-transform: uppercase;
    font-size: 1.25em;
    flex: 1 1 30px;
    font-weight: bold;
} 

.formWrapper input {
    flex: 2 1;
    width: 200px;
    padding: 16px;
    font-size: 1.1em;
    background-color: #ecececff;
}

.formWrapper button {
    padding: 10px 20px;
    width: 100%;
    margin: 10px;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
    background-color: lightcoral;
} 

.formWrapper button:hover {
    background: #f26868ff;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    /* background: thistle; */
    justify-content: space-between;
    max-width: 960px;
    padding-top: 40px;
}

.book:hover {
    background-color: #ded8d8ff;
}

.book {
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    cursor: pointer;
}
.book button {
    flex: 1 1 200px;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    max-height: 38px;
}


.book-info {
    max-width: 180px;
    text-align: center;
    margin-top: 10px;
    font-size: 1.25em;
    width: 100%;
}
.book-info p {
    margin: 5px;
}

.author {
    font-size: 0.8em;
}

.book-img img {
    max-width: 180px;
    max-height: 300px;
}

.book-img span {
    position: absolute;
    background-color: lightcoral;
    color: white;
    font-size: 1.5em;
    padding: 3px 5px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 430px;
}

.modal-content form {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    max-width: 300px;  
}

.modalForm div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.modalForm span {
    text-transform: uppercase;
    font-size: 1.25em;
    flex: 1 1 30px;
    font-weight: bold;
} 

.modalForm input {
    flex: 2 1;
    width: 200px;
    padding: 16px;
    font-size: 1.1em;
    background-color: #ecececff;
}

.modalForm button {
    padding: 10px 20px;
    width: 100%;
    margin: 10px;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
    background-color: lightcoral;
} 

.modalForm button:hover {
    background: #f26868ff;
}


/* The Close Button */
/* .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */